*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-bottom: 100px;
}
h1{
    text-align: center;
    padding: 30px;
}
img{
    width: 100%;
}
.grid1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    gap: 20px;    
}
.grid1>div:nth-child(n + 4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
/* isso faz a imagem ir para coluna que quero */
.grid1>div.anuncio{
    grid-column: 3;
    grid-row: 2 / 5;
    border-top: 10px solid red;
    display: block;
}
@media (max-width: 600px){
    .grid1{
        grid-template-columns: 1fr 1fr;
    }
    .grid1 > div:nth-child(n + 4){
        display: block;
    }
    .grid1>div.anuncio{
        grid-column: auto;
        grid-row: auto;
        order: -1;
        
    }
    
}

